<form [formGroup]="jobAdForm" (ngSubmit)="onSave()">
	<mat-card>
		<mat-card-content>
			<mat-form-field>
				<input matInput placeholder="Title" formControlName="title" />
				@if(jobAdForm.controls['title'].hasError('required')) {
				<mat-error *ngIf="jobAdForm.controls['title'].hasError('required')">
					Title is
					<strong>required</strong>
				</mat-error>
				}
			</mat-form-field>
			<div>
				<mat-form-field>
					<textarea
						matInput
						placeholder="Description"
						formControlName="description"
					></textarea>
					@if(jobAdForm.controls['description'].hasError('required')) {
					<mat-error>
						Description is
						<strong>required</strong>
					</mat-error>
					} @if(jobAdForm.controls['description'].hasError('minlength')) {
					<mat-error>
						Enter more than
						<strong>10</strong>
						characters
					</mat-error>
					}
				</mat-form-field>
			</div>
			<div class="col skill-section">
				<mat-label>Skills</mat-label>
				<div formArrayName="skills" class="skills">
					<div *ngFor="let skillControl of skills.controls; let index = index">
						<mat-form-field>
							<input matInput id="name" type="text" [formControlName]="index" />
							@if(skillControl.hasError('required')) {
							<mat-error>
								Skill is
								<strong>required</strong>
							</mat-error>
							}
						</mat-form-field>
						<button mat-icon-button color="warn" (click)="removeSkill(index)">
							<mat-icon>delete</mat-icon>
						</button>
					</div>
				</div>
				<button
					mat-stroked-button
					color="primary"
					type="button"
					(click)="addSkill()"
					class="add-skill-button"
				>
					Add Skill
				</button>
			</div>
		</mat-card-content>
		<mat-card-actions class="form-buttons">
			<button
				mat-raised-button
				color="primary"
				type="submit"
				[disabled]="!jobAdForm.valid || !jobAdForm.dirty"
			>
				Submit
			</button>
			<button mat-raised-button color="warn" type="button" (click)="onCancel()">
				Cancel
			</button>
		</mat-card-actions>
	</mat-card>
</form>
